<!--=====================================
                  BANNER PART START
      =======================================-->
<section class="home-index-slider slider-arrow slider-dots">
    <div class="banner-part banner-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="banner-content">
                        <h1>Notre marché de gros.</h1>
                        <p>
                            Glenou met en relation les acheteurs et producteurs.
                            Nous facilitons les échanges entre les producteurs, eleveurs et les acheteurs en leur garantissant la qualité des produits en provenance des fermes locales.
                        </p>
                        <div class="banner-btn">
                            <a class="btn btn-inline" href="{{ path('app_boutique') }}">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Boutique</span>
                            </a>
{#                            <a class="btn btn-outline" href="offer.html">#}
{#                                <i class="icofont-sale-discount"></i>#}
{#                                <span>get offer</span>#}
{#                            </a>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="banner-img">
                        <img src="{{ asset('front/images/promo/home/index/02.png') }}" alt="index">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-part banner-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="banner-img">
                        <img src="{{ asset('front/images/promo/home/index/01.png') }}" alt="index">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="banner-content">
                        <h1>Les produits agricoles disponibles chez vous.</h1>
                        <p>
                            Achetez des produits agricoles frais ou transformés du Bénin livraison assurée
                        </p>
                        <div class="banner-btn">
                            <a class="btn btn-inline" href="{{ path('app_boutique') }}">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Nos produits</span>
                            </a>
{#                            <a class="btn btn-outline" href="offer.html">#}
{#                                <i class="icofont-sale-discount"></i>#}
{#                                <span>get offer</span>#}
{#                            </a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-part banner-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="banner-img">
                        <img src="{{ asset('front/images/promo/home/index/viande-bon.png') }}" alt="index">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="banner-content">
                        <h1>Nos animaux d'élevages.</h1>
                        <p>
                            Achetez des produits agricoles frais ou transformés du Bénin livraison assurée
                        </p>
                        <div class="banner-btn">
                            <a class="btn btn-inline" href="{{ path('app_boutique') }}">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Notre boutique</span>
                            </a>
                            {#                            <a class="btn btn-outline" href="offer.html">#}
                            {#                                <i class="icofont-sale-discount"></i>#}
                            {#                                <span>get offer</span>#}
                            {#                            </a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-part banner-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="banner-img">
                        <img src="{{ asset('front/images/promo/home/index/conserve-bon.png') }}" alt="index">
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="banner-content">
                        <h1>Les produits tranformés disponibles chez vous.</h1>
                        <p>
                            Achetez des produits agricoles frais ou transformés du Bénin livraison assurée
                        </p>
                        <div class="banner-btn">
                            <a class="btn btn-inline" href="{{ path('app_boutique') }}">
                                <i class="fas fa-shopping-basket"></i>
                                <span>Nos produits</span>
                            </a>
                            {#                            <a class="btn btn-outline" href="offer.html">#}
                            {#                                <i class="icofont-sale-discount"></i>#}
                            {#                                <span>get offer</span>#}
                            {#                            </a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
            BANNER PART END
=======================================-->