{% extends 'dashboard_base.html.twig' %}

{% block title %}Edit Produits{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Modifier un produit</h3>

                    {# <div class="card-tools">
                    <a  class="btn btn-primary float-right" href="{{ path('admin_produit_new') }}"><i class="fas fa-plus"></i> Ajouter un produit</a>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                                            <i class="fas fa-times"></i>
                                        </button>
                </div> #}
                </div>
                <div class="card-body p-3">
                    {{ include('back/produits/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>

{#    {{ include('back/produits/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a href="{{ path('app_produits_index') }}">back to list</a>#}

{#    {{ include('back/produits/_delete_form.html.twig') }}#}
{% endblock %}
